@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwid ui;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: "Open Sans", "Helvetica", "Arial";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather";
}
